.buttons {
    display: flex;
    flex-basis: 100%;
    margin-right: 20px;
    justify-content: flex-end;
}

@media (max-width: 768px) {
    .buttons {
        justify-content: center;
        margin-top: 0;
        margin-bottom: 10px;
        margin-right: 0px;
        flex-wrap: wrap;
    }
}

.buttons__button {
    background: none;
    border: none;
    margin-right: 10px;
    font-size: 18px;
    color: #007382;
    transition: 0.3s;
}

@media (max-width: 768px) {
    .buttons__button {
        flex-basis: 100%;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.buttons__button:hover {
    color: #007382b4;
}

.buttons__button:disabled {
    color: #007382ab;
}