.list {
    min-height: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.list__item {
    display: flex;
    margin: 10px 0;
    margin-right: 30px;
    list-style: none;
    padding-bottom: 10px;
    border-bottom: 2px solid #ddd;
    align-items: center;
}

.list__itemText {
    word-break: break-all;
    margin-right: 15px;
}

.list__item--hidden {
    display: none;
}

.list__item--finished {
    text-decoration: line-through;
}

.list__button {
    width: 30px;
    height: 30px;
    border: none;
    color: white;
    flex-shrink: 0;
}

.list__button:active {
    border: 2px solid black;
}

.list__button--finish {
    background-color: #1a7b1e;
    margin-right: 20px;
    transition: 0.3s;
}

.list__button--finish:hover {
    background-color: #1a7b1dc5;
}

.list__button--delete {
    background-color: #ed293a;
    margin-left: auto;
    transition: 0.3s;
}

.list__button--delete:hover {
    background-color: #ed2939c5;
}